/* ======== Responsive ======== */
@media (max-width: 600px) {
  .wrapper {
    grid-template-columns: repeat(2, 1fr);
  }

  .wrapper li {
    width: 100%;
  }

  /* TITLE */
  .note p {
    font-size: 16px;
    line-height: 1.4;
    font-weight: 500;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  /* DESCRIPTION */
  .note span {
    font-size: 14px;
    color: var(--side-color);
    margin-top: 5px;
    line-height: 1.5;
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  /* DATE */
  .bottom-content span {
    font-size: 12px;
    color: #6d6d6d;
    line-height: 1.3;
  }
}
