.bx.bxs-chevron-up {
  position: fixed;
  bottom: 30px;
  right: 30px;
  padding: 5px;
  color: #fff;
  background-color: #c6cd30;
  border-radius: 50%;
  cursor: pointer;
  opacity: 0;
  pointer-events: none;
  transform: opacity 0.3s ease-in-out;
}
